
ion-content {
  --background: url('../../../assets/Images/Forc.avif') no-repeat center center / cover;
}


.Contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* espacio entre la imagen y el contenido */
  margin: 20px auto;
  max-width: 1200px;
  margin-top: 10%;
  margin-top: 8%;
}

.imagen-pago {
  width: 300px; /* ajusta el tamaño según quieras */
  border-radius: 10px;
}

.Contenido {
  display: flex;
  flex-direction: column; /* para que los selects vayan uno bajo otro */
  gap: 20px; /* espacio entre los selects */
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid white;
  border-radius: 12px;
  color: #111;
  font-size: 20px;
  width: 400px; /* ajustable */
}
