<ion-header [translucent]="true">
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://www.paypal.com/sdk/js?client-id=AZlf2tykhAeaCXfASRhwpOz6gy_-SxsR81ZVJ3AtOFqHNk0xmGisONtJFzJY7HgkavgsNzGkWrU5LeS6&currency=USD"></script>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="body-simulacion">
    <div class="Contenedor">
      <img src="../../../assets/Images/Gato.avif" alt="Pago" class="imagen-pago">

      <div class="Contenido p-4 shadow rounded bg-white" style="max-width: 500px; margin: auto;">
        <div class="mb-4">
          <h5 class="mb-1">{{ producto?.Nombre_producto }}</h5>
          <p class="mb-1 text-muted">Precio: ${{ producto?.Precio_producto }}</p>
        </div>

        <div class="mb-3">
          <label class="form-label">Método de entrega</label>
          <select [(ngModel)]="metodoEntrega" class="form-select" (change)="onMetodoEntregaChange()">
            <option value="">Seleccione un método</option>
            <option value="Retiro en tienda">Retiro en tienda</option>
            <option value="Despacho a domicilio">Despacho a domicilio</option>
          </select>
        </div>

        <!-- Contenedor para PayPal -->
        <div id="paypal-button-container" *ngIf="mostrarPaypal"></div>


        <div class="d-grid gap-2 mb-3">
          <ion-button expand="block" color="warning" (click)="realizarOrden()">
            Realizar orden
          </ion-button>
        </div>


      </div>
    </div>
  </div>
</ion-content>
